<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Project Viewer</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Highlight.js CSS theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">

    <!-- Highlight.js JS library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
</head>
<body>
    <h1>Project > {{ datasetID }}</h1>
	
	
	<div class="button-bar">
        <button id="prev-btn">Previous</button>
        <button id="next-btn">Next</button>
		<button id="save-btn">Save</button>
    </div>
	
	<div class="main-container">
		<div id="text-display" data-dataset="{{ datasetID }}" data-file-index="{{ file_index }}">
			<pre><code id="xml-code" class="xml" contenteditable="true" spellcheck="false"></code></pre>
		</div>
		
		<div id="log-box">
			<h4>Logs</h4>
			<div id="logs"></div>
		</div>
	</div>
	
	<h3 id="file-name">
		File <input type="number" id="file-number-input" min="1">
		of <span id="total-files"></span>
	</h3>
	
	
	<!-- Dropdown for labeling -->
	<!-- Dropdown for labeling -->
	<select id="label-dropdown">
	  {% for label in labels %}
		<option value="{{ label }}">{{ label.capitalize() }}</option>
	  {% endfor %}
	</select>

	
	<script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
